.uploadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.upload{
    background-color: #f2f5f9;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
     align-items: center;
     cursor: pointer;
     border-radius: 100%;
}

.inputFile{
    display: none;
}
.uploadFilePicture{
    width: 100px;
    height: 100px;
    border: 2px dotted #5b27ed;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImage{
    border-radius: 100%;
}