.dropbox {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted gray;
    border-radius: 8px;
}

.file {
    display: flex;
    color: rgb(34, 154, 22);
    background-color: rgba(84, 214, 44, 0.16);
    border-radius: 8px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.buttons {
    display: flex;
    gap: 5px;
    align-items: center;
}