.publishers {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.newCampaignHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 20px;
}

.filters {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.media {
    background: white;
    padding: 50px 30px;
    border-radius: 8px;
    width: calc(100% - 340px);
}

.summary {
    background: rgb(255, 255, 255);
    padding: 50px 30px;
    width: 320px;
    border-radius: 8px;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.buttonContainer{
    display: flex;
    justify-content: center;

}

.buttonInvoice{
    display: none;
}

.summaryModal{
    padding: 50px 40px;
}

@media screen and (max-width: 1200px) {
    .media {
        width: 100%;
    }

    .summary {
        display: none;
    }

    .buttonInvoice{
        display: block;
    }

}